.btn {
  font-size: 2rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;


  &-black {
    background-color: black;
    color: white;
  }

  &-small {
    padding: 1.2rem 2rem;
  }

  &--turquoise {
    background-color: $turquoise;
  }

  &--medium {
    padding: 1.6rem 3.2rem;
  }

  &--orange {
    background-color:  #CE822F;
  }
}
