@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Boldonse", system-ui !important;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 7rem;
  line-height: 12rem;
  font-weight: 500;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
  line-height: 7rem;
}

h4 {
  font-size: 2rem;
  line-height: 4.7rem;
}

h5 {
  font-size: 3rem;
}

.copy {
  font-size: 2rem;
}

.copy-small {
  font-size: 15px;
}
