.featured {
  height: 70vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  overflow: hidden;

  &__paragraph {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;

    p {
      font-size: 2rem;
      // max-width: 50ch;
    }
  }

  img {
    height: 44.3rem;
    width: 64.1rem;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 4rem;
  }
}
